html{
	height: 100%;
}
body{
	background: linear-gradient(-150deg, #e24646, #7d1fb4);
}
h1{
	font-size: 40px;
}

table {
width: 100%;
border-collapse: collapse;
}

td,th {
font-size: 25px;
padding: 5px;
padding-left: 0px;
text-align: left;
}

th {
font-size: 32px;
color: white;
font-weight: bold;
}

td{
	user-select: none;
	cursor: pointer;
	text-align: center;
}

td:hover{
	outline: 2px solid white;
}

#calendar{
	width: 400px;
    position: fixed;
    text-align: center;
    height: 400px;
    left: 35%;
    color:white;
}


#clock{
	font-size: 35px;
	text-align: left;
}
#timeDate{
	color: red;
    text-align: left;
    font-size: 20px;
}

#main{
	padding-top: 10px;
	padding-bottom: 10px;
}

#time{
	font-size: 25px;
	margin-bottom: 20px;
}

#month{
	float: left;
	

}
#arrows{
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

#field{
	font-size: 35px;
    right: 25%;
    top: 30%;
    float: left;
   
}

.active{
	outline: 2px solid red;
}