html {
    height: 100%;
}

body {
    background: linear-gradient(71deg, #c22de8, #16e8c8);
    background-size: cover;
}

.container .row{
    margin-top: 7%;
}

#sidebar{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 7px 0 26px rgba(0, 0, 0, 0.5);  
    min-height: 400px;
}

#adminField {
    margin-top: -1.5%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 7px 0 26px rgba(0, 0, 0, 0.5);
    min-height: 400px;
}

.inputInformation{
    padding: 15px;
}

#sidebar li{
    margin: 15px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
}
#sidebar li:hover{
    background: #16e8c8 ;
}

#sidebar ul{
    padding-top: 50%;
}